header {
	height: 100vh;
	color: $textColor;
	background-color: lightcoral;
	button {
		background: $primaryButton;
		// add hover
		&:hover {
			background: yellow;
			cursor: pointer;
		}
		// add sudo-classes
		&::after {
			content: " world";
		}
	}
	h1 {
		color: $textColor;
	}
}
