// Create Variables
$primaryButton: #00ccff;
$dangerButton: #ff0000;
$textColor: rgb(83, 83, 83);

/* -------------------------------------------------------------------------- */
// Nesting Selectors
// add hover
// add sudo-classes
header {
	background: lightblue;
	display: flex;
	justify-content: center;
	button {
		background: $primaryButton;
		// add hover
		&:hover {
			background: yellow;
			cursor: pointer;
		}
		// add sudo-classes
		&::after {
			content: " world";
		}
	}
	h1 {
		color: $textColor;
	}
}

.contact button {
	background: $dangerButton;
}
/* -------------------------------------------------------------------------- */
